# Dependency directories
/node_modules

# Environment files
.env

# IDE files
.vscode/
.idea/

# Log files
*.log

# Compiled output
/build
/dist

# macOS
.DS_Store

# Editor configuration
.editorconfig
